body{

    margin: 0;
    overflow: scroll;
    background-color: aquamarine;
}
.main-content {
    width: 100%;
    position: absolute;
    display: block;
    margin: 0;
}
.main-heading{
    text-align: left;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    position: relative;
}
.main-nav, a{
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    justify-content: center;
    margin-top: 0;
    color: red;
    background-color:burlywood;
    font-size: 20px;  
    position: relative;
}
a:hover{
    color: white;
}
ul{
    display: flex;
    list-style-type: none;
}
.top-nav {
    margin: 10px;
    top: 0;
    position: absolute;
}
img {
    float: left;
    margin-top: 0%;
    margin-left: 5%;
  }
  .index-box>p{
    margin: 30px;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
  }

.index-box>h4{
  margin: 25px;
  font-weight: 300;
  font-size: 25px;
  font-family: 'Poppins',sans-serif;
}
.index-box>ol{
    font-family: 'Poppins',sans-serif;
    margin: 30px;
    font-weight: 300;
    font-size: 18px;
  }